html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    margin: 0px auto;
}

h1 {
    font-size: 1.8rem;
    color: white;
}

/*--------------------- 
Card grid styles
---------------------*/
.content {
    padding: 50px;
}

.card-grid {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    /*grid-gap*/
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.card {
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, .5);
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #034078;
}
/*--------------------- 
Button styles
---------------------*/
button {
    border: none;
    color: #FEFCFB;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    width: 100px;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.button-on {
    background-color: #034078;
}

.button-on:hover {
    background-color: #1282A2;
}

.button-off {
    background-color: #858585;
}

.button-off:hover {
    background-color: #252524;
}

.state {
    font-size: 1.2rem;
    color: #1282A2;
}

/*--------------------- 
Navigation bar styles
---------------------*/

/* Stops the scrollbar */
.topnav {
    overflow: hidden;
    background-color: #0A1128;
}

/* push the navigation to the left and align all text to the center */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 1.2rem;
}

/* when the mouse is over the navigation change background */
.topnav a:hover {
    background-color: #186775;
    color: white;
}

/* doesn't change the mouse */
.disabled {
    pointer-events: none;
}

/* defaults display to none */
.topnav .icon {
    display: none;
}

/* what does this do? */
.topnav-right {
    float: right;
}

/* what does this do? */
@media screen and (max-width: 600px) {

    /* what does this do? */
    .topnav.responsive {
        position: relative;
    }

    /* what does this do? */
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    /* what does this do? */
    .topnav.responsive a,
    .topnav.responsive .topnav-right {
        float: none;
        display: block;
        text-align: left;
    }
}
